extends ../layouts/default

block content
	if enquirySubmitted
		.jumbotron.text-center
			h1 提交成功!
	
	else
		.page-header
			h1 联系我
		.row
			.col-sm-10
				form(method='post').form-horizontal
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label.col-sm-2.text-left.control-label 姓名
						.col-sm-10
							input(type='text' name='name.full' value=formData['name.full'] required placeholder="怎么称呼您？").form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label.col-sm-2.control-label 邮箱
						.col-sm-10
							input(type='email' name='email' value=formData.email required placeholder="xxx@xxxx.com").form-control
					.form-group
						label.col-sm-2.control-label 电话
						.col-sm-10
							input(type='text' name='phone' value=formData.phone placeholder='(可不填)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null required)
						label.col-sm-2.control-label 期望
						.col-sm-10
							select(name='enquiryType').form-control
								option(value='') (必填)
								each type in enquiryTypes
									option(value=type.value selected=formData.enquiryType === type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label.col-sm-2.control-label 留言
						.col-sm-10
							textarea(name='message' placeholder='写下您想说的话吧...' rows=4 required).form-control= formData.message
					.form-group
						.col-sm-10.col-sm-offset-2
							button(type='submit').btn.btn-primary Submit
